Test-Command: cp debian/tests/example/* $AUTOPKGTEST_TMP && cd $AUTOPKGTEST_TMP
 ; cmake . && make && python -c "import example; assert(example.add(1, 2) == 3)"
Depends: cmake, g++ | c++-compiler, pybind11-dev, python-dev
Restrictions: allow-stderr

Test-Command: cp debian/tests/example/* $AUTOPKGTEST_TMP && cd $AUTOPKGTEST_TMP
 ; cmake . && make && python3 -c "import example; assert(example.add(1, 2) == 3)"
Depends: cmake, g++ | c++-compiler, pybind11-dev, python3-dev
Restrictions: allow-stderr

Test-Command: python -c "import pybind11; print pybind11.get_include()"
Depends: python-pybind11

Test-Command: python3 -c "import pybind11; print(pybind11.get_include())"
Depends: python3-pybind11
